# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.egg
environment/__pycache__/
environment/core/__pycache__/
environment/models/__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.nbconvert.ipynb
*.nbconvert.html
*.nbconvert.pdf
*.nbconvert.py
*.nbconvert.md
*.nbconvert.tex
*.nbconvert.txt
*.nbconvert.xml